body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.sunset {
    background-color: #4A89DC;
}

.sunrise {
  background-color:#b48484;
}

.container {
    padding: 10px;
}

.waiting {
    font-size: 75px;
    text-align: center;
    padding: 250px;
}

.timeSplit {
    font-size: 75px;
    text-align: center;
    padding: 250px;
}

.timeSplit-until {
    font-size: 50px;
}
