body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.sunset {
    background-color: #4A89DC;
}

.sunrise {
    background-color: #b48484;
}

.container {
    padding: 10px;
}

.waiting {
    font-size: 75px;
    text-align: center;
    padding: 250px;
}

.timeSplit {
    font-size: 75px;
    text-align: center;
    margin-top: 200px;
    height: 250px;
}

.timeSplit-until {
    font-size: 50px;
}

.daySplit {
    font-size: 20px;
}

.daySplit-until {
    font-size: 15px;
}

.share {
    clear: both;
    height: 25px;
    text-align: center;
    padding: 15px 0px 0px;
}

.subshare {
    display: none;
}

@media (max-width: 767px) {
    .timeSplit {
        font-size: 50px;
    }
    .timeSplit-until {
        font-size: 35px;
    }
    .daySplit {
        font-size: 15px;
    }
    .daySplit-until {
        font-size: 13px;
    }
    .timeSplit {
        height: 275px;
        margin-top: 30px;
    }
    .share {
        margin-left: 10px;
        padding-bottom: 15px;
    }
    .fb-like {
        margin-left: -14px;
        margin-right: 39px;
    }
    .hn-share-iframe {
        margin-left: -42px;
    }
    #twitter-widget-0 {
        padding-right: 17px;
    }
}
